@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* BASIC FORMATTING */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-blue: #06327d;
  --primary-yellow: #ffd034;
  --primary-green: #209d5c;
  --secondary-blue: #2b70e4;
  --tertiary-blue: #cadbf8;
  --radius: 10px;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  text-align: end;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}

body {
  font-family: Poppins;
  font-size: 1.125rem;
  line-height: 1.5;
  color: var(--primary-black);
  background-color: var(--primary-blue);
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--primary-white);
  text-align: center;
  border-bottom: 5px solid var(--primary-yellow);
  border-top: 5px solid var(--primary-yellow);
}
header {
 color: var(--primary-white);
 text-transform: uppercase;
 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;
 align-items: center;
 padding: 1rem;
 padding-bottom: 3rem;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 3rem;
}

nav ul {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}

nav a {
  display: block;
  color: var(--primary-white);
  text-decoration: none;
  text-transform: uppercase;
}

.button1 {
  display: inline-block;
  background-color: var(--primary-green);
  color: var(--primary-white);
  border-radius: var(--radius);
  text-decoration: none;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
}

.button2 {
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border-radius: var(--radius);
  text-decoration: none;
  padding: 0.5rem;
  text-transform: uppercase;
}

.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.container1 img {
  grid-column: 1;
}

.text1,
.text2 {
  grid-column: 2;
  text-align: left;
  padding-left: 2rem;
}


.container2 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--tertiary-blue);
  text-align: left;
}

.container2 img {
border-radius: var(--radius);
}

.latte, 
.coffee,
.hot,
.iced {
  padding-top: 3rem;
}

footer {
  color: var(--primary-white);
  padding-top: 1rem;
  margin: 0;
  text-align: center;
}

@media (max-width: 1000px) {
  header {
    justify-content: center;
  
  }
  nav ul {
    justify-content: center;
  }
}
  

@media (min-width: 650px) {
  .container1 {
    padding: 0;
    padding-left: 1rem;
  }
  .container2 {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 4rem;
  } 
  .latte {
    grid-column: 1;
  }
}

@media (min-width: 1000px) {
  body {
    padding: 2rem;
  } 
  .container1 {
    padding: 0;
  }
  .container2 {
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 4rem;
  }
  .container2 h2 {
white-space: nowrap;
  }
  .latte {
    grid-column: 1;
  }
  
}









